/* BASIC */

body {
  margin: 0;
  font-family: 'Karla';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFEFBA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* TYPOGRAPHY */
 h1, h2 {
  font-weight: 700;
  color: #293264;
 }

 h1 {
  font-size: 3.125em;
  line-height: 37px;
  margin-bottom: 0.5em;
 }

 h2 {
  font-size: 1.6em;
  line-height: 19px;
  text-align: center;
 }

.start--btn, .quiz--questions_cnt, .quiz--score, .quiz--finish_btn, .start--input{
  font-family: 'Inter';
}

.start--btn, .quiz--questions_cnt{
  font-weight: 500;
}

.quiz--score, .quiz--questions_cnt{
  color: #293264;
}

.start--btn, .quiz--finish_btn{
  color: #F5F7FB;
}

.start--input {
  color: black;
  font-size: 1.25em;
 }

 .start--btn{
  font-size: 1.6em;
  line-height: 19px;
 }

 .start--input::placeholder {
  color: black;
  opacity: 1;
 }

 .quiz--score{
  font-weight: 700;
  line-height: 15px;
  font-size: 1.28em;
}

 .quiz--questions_cnt {
  font-size: 1.024em;
  line-height: 12px;
 }

 .quiz--finish_btn {
  font-weight: 600;
  font-size: 1.24em;
  line-height: 12px;
}


/* START */

.start--section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start--input, .start--btn {
  border-radius: 15px;  
  border: none;
  cursor: pointer;
}

.start--input{
  background: #4d5b9e67;
  text-align: center;
  margin: 0.75em;
  padding: 1em;
}

.start--btn {
  background: #4D5B9E;
  width: 193px;
  height: 52px;
  margin-top: 2em;
}

.start--btn:hover, .start--btn:focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* QUIZ */
.quiz--cnt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz--questions_cnt {
  width: 90%;
  max-width: 600px;
  padding: 1.5em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-bottom: 0.794239px solid grey;
}
.quiz--questions_cnt:first-of-type {
  margin-top: 1em;
}

.quiz--questions_cnt:last-of-type {
  margin-bottom: 1em;
}

.quiz--questions_cnt > .quiz--btn_cnt > button {
  border-radius: 7.94239px;
  padding: 0.3em 0.5em;
  box-shadow: none;
  border: 1px solid black;
  margin: 1.2em 1.2em 0 0;
  cursor: pointer;
}

.quiz--questions_cnt > .quiz--btn_cnt > button:disabled {
  color: black;
  cursor:default;
}

.quiz--btn_cnt {
  display: flex;
  justify-content: center;
}

.quiz--finish_btn {
  background: #4D5B9E;
  border-radius: 10px;
  padding: 1em 2em;
  margin: 1em 0;
}

